footer.footer
    .footer__content
        .footer__logo
            a(href="#")  Nexus 
        .footer__copyright
            | © 2020. Hecho por Michel Gimenez
        .footer__links
            a.footer__link(href="#")
                ion-icon.footer__icon(name="logo-instagram")
            a.footer__link(href="#")
                ion-icon.footer__icon(name="logo-twitter")
            a.footer__link(href="#")
                ion-icon.footer__icon(name="logo-facebook")
            a.footer__link(href="#")
                ion-icon.footer__icon(name="logo-whatsapp")
            a.footer__link(href="#")
                ion-icon.footer__icon(name="logo-youtube")