doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="shortcut icon" href="/pc.png" type="image/x-icon")
    title Nexus | #{title}

    block body

    include _nav

    block content
      
    include _footer

    script(src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js")
    script(src="/js/bundle.js")
    
    