extends base

block body
  body.container

block content
  main.main2
    .error__page
      .error__title
        h2.heading-secondary.heading-secondary--error= title   
        h2.error__emoji 😢
      .error__msg= message