extends baseEmail

block content
  p Hola #{firstName},
  p Olvidaste tu clave? 😩😩 Realiza una solicitud PATCH con tu nueva clave a esta ruta: #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Restaurar mi clave
  p Si no olvidaste tu clave o nunca solicitaste este email, te recomendamos que cambies la informacion de tu clave porque alguien debe querer ingresar
